.itemGrid {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}
.itemGrid:-moz-drag-over {
    background-color: red;
    border-color: red;
    border-style: dashed;
    border-width: 5px;
  }

.item {
    margin: 3px;
    background-color: antiquewhite;
    text-align: center;
}
.thumbnail {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    vertical-align: middle;
    cursor: pointer;
}
.thumbnail img {
    max-width: 100%;
    max-height: 100%;
}
.item .info {
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
.item .filename {
    display: block;
    font-size: 0.6em;
}